---
layout: page
title: About RAML
permalink: /about-raml
---

<h1>About RAML</h1>
<h3>What is RAML?</h3>
<p>RAML stands for RESTful API Modeling Language. It's a way of describing practically-RESTful APIs in a way that's highly readable by both humans and computers. We say "practically RESTful" because, today in the real world, very few APIs today actually obey all constraints of REST. RAML isn't strict: for now, it focuses on cleanly describing resources, methods, parameters, responses, media types, and other HTTP constructs that form the basis for modern APIs that obey many, though perhaps not all, RESTful constraints.</p>
<h3>Why should I use RAML for my API?</h3>
<p>You'll get a well-defined contract in a human-readable format to actually exist as your source code.</p>
<p>Your API's structure is manifest and easily understood by everyone: developers, partners, and other API-consumers.</p>
<p>The Application Programming eXperience, or APX, vastly improves with the knowledge that there is a formal, versioned, crystal-clear contract that reflects the structure of the API and is independent of implementation.</p>

