---
layout: default
title: Developer
permalink: /developer
---

<section id="expl-bg-color">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive" src="images/developers---try-some-examples.png">
                <h3>Explore RAML Examples</h3>
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive" src="images/developers-hundreds-of-open-source-projects.png">
                <h3>Hundreds of Open Source Projects</h3>
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive" src="images/developers-tutorials.png">
                <h3>Get Started With Our Tutorials</h3>
            </div>  
        </div>  
    </div>
</section>

<section>
    <div class="container desc-block">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="images/RAMLicontest.svg" class="icon">
                <h3>Design Your API</h3>
                <p>What if, in less than 5 minutes you could build out your whole API and see exactly what it looks like, and even test it out? RAML lets you use a human readable format, instead of writing code, which means that after you design it - anyone in QA, technical writing, or even your CEO can make documentation changes without breaking a thing. The best part is, RAML was made for developers and incorporates important design best practices like modeling, patterns, templating, and code reuse.</p>
                <a href="">Learn about designing with RAML</a>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="images/design_editor.png">
            </div>
        </div>
    </div>  
</section>

<section id="build-bg-color">
    <div class="container desc-block">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="images/design_build.png">
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="icon" src="images/RAMLiconbuild.svg">
                <h3>Build Your API</h3>
                <p>Once you’ve designed your API, you can import the RAML file into numerous tools to generate the API in your language of choice. For larger integration projects, you can even use some of the most popular integration and API frameworks to build out your API. Of course, you don’t have to use a server code generator at all - you can still build your API from scratch.</p>
                <a href="">Learn about building with RAML</a>
            </div>
        </div>
    </div>  
</section>

<section>
    <div class="container desc-block">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img class="icon" src="images/RAMLiconshare.svg">
                <h3>Test Your API</h3>
                <p>Who doesn’t love writing hours worth of unit tests… that end up being copy and pasted code over and over again? What if you could generate a majority of your tests just by running a quick script?</p>
                <p>Another great thing about RAML is that it is backed by a huge community and has hundreds of scripts and tools available to generate your unit tests for you. You’ll also find projects and services that perform additional, extensive tests on your API, ensuring your API is ready to go before it ever hits production.</p>
                <a href="">Learn about testing with RAML</a>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="images/design_tests.png">
            </div>
        </div>
    </div>  
</section>


<section id="document-bg-color">
    <div class="container desc-block">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="images/design_document.png">
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="icon" src="images/RAMLiconbuild.svg">
                <h3>Document Your REST API</h3>
                <p>With RAML - you can say goodbye to having to write extensive documentation, documentation testing, and struggling to keep your docs in sync. RAML is an API description language - meaning your API is already being described, and it was designed with documentation in mind.</p>
                <p>You can easily add markdown to your resource and method descriptions, or take advantage of the documentation property of RAML to quickly and effortlessly generate all of your documentation using one of the many freely available, and customizable, tools with just the click of a button. RAML lets you focus on writing code, not documentation.</p>
                <a href="">Learn about documenting with RAML</a>
            </div>
        </div>
    </div>  
</section>

<section>
    <div class="container desc-block">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img class="icon" src="images/RAMLicontest.svg">
                <h3>Share & Support Your API</h3>
                <p>What good is an API if nobody is using it? With RAML you can quickly - at the click of a button or with a little basic JavaScript - generate interactive tools such as API Consoles, API Notebooks that walk users through your API step by step, or even create SDKs or code libraries for today’s most popular languages.</p>
                <p>RAML is also supported by many tools and services, letting users quickly import your API into their solution in order to use it with little to no code required on their part. RAML can even change the way you handle support!</p>
                <a href="">Learn about sharing with RAML</a>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="images/design_share.png">
            </div>
        </div>
    </div>  
</section>

<section>
    <div class="container text-center do_more_less">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3">
                <h2>Do more with less</h2>
                <p>Instead of having to struggle and do things in-house, RAML aims to let you do more with less - meaning a faster time to market for your company - and more time to focus on coding for you.</p>
                <h3><a class="btn_black" href="">Read the Specification</a></h3>
            </div>  
        </div>
    </div>
</section>
<hr>