---
layout: default
title:  'Welcome'
---

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img src="images/homepage_logos.svg" class="img-responsive">
        </div>
      </div>
    </div>  
  </section>
  <section id="content-bg-color">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2>Write once. Use many. Creative laziness encouraged.</h2>
          <p>RESTful API Modeling Language (RAML) makes it easy to manage the whole API lifecycle from design to sharing. It's concise - you only write what you need to define - and reusable. It is machine readable API design that is actually human friendly. </p>
          <div class="homepage_icons">
            <a href=""><img src="images/RAMLicondesign.svg" class="design"></a>
            <a href=""><img src="images/RAMLiconbuild.svg" class="build"></a>
            <a href=""><img src="images/RAMLicontest.svg" class="contest"></a>
            <a href=""><img src="images/RAMLicondocument.svg" class="document"></a>
            <a href=""><img src="images/RAMLiconshare.svg" class="share"></a>
          </div>
        </div>
      </div>  
    </div>
  </section>
  <section>
    <div class="container-fluid raml-editor">
      <div class="row">
        <div class="col-md-7 col-sm-7 editor-block padd_00">
          <h4>RAML Editor</h4>
          <div id="container" style="width:800px;height:600px;border:1px solid grey"></div>
        </div>
        <div class="col-md-5 col-sm-5 output-block padd_00">
          <h4>Output</h4>
          <div class="box">
            
          </div>
        </div>  
      </div>  
    </div>
  </section>

  <section>
    <div class="container raml-blocks">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <img src="images/RAMLicondesign.svg" class="design">
          <h3>Use RAML to Design Your API</h3>
          <p>RAML lets you see what your API looks like as you design it, using easy to read plain text. Without having to write a single line of code you can not only perfect your API design, but also create a fully functional mock for customers, partners, or even your own internal engineers to review and build off of. </p>
          <a href="#">Learn  about Designing with RAML</a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href=""><img src="images/RAMLiconbuild.svg" class="build"></a>
          <h3>Use RAML to Build Your API</h3>
          <p>RAML enables developers and engineers to do what they do best – write code. No more guesswork or getting halfway through your API only to realize the design doesn’t work or is inconsistent. You can also reduce your time to market (and bug based headaches) by using the many tools available to help you generate the general structure of your API from your RAML files. </p>
          <a href="#">Learn  about Designing with RAML</a>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a href=""><img src="images/RAMLicontest.svg" class="contest"></a>
          <h3>Use RAML to Test Your API</h3>
          <p>Most engineers hate writing unit tests. RAML lets you generate a majority of the tests by running a simple shell command. No more manual tests (although we certainly recommend creating your own), and even better – you can even use third party services such as API Fortress, API Science, Parasoft, Postman, and SmartBear for your testing needs.</p>
          <a href="#">Learn  about Testing with RAML</a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href=""><img src="images/RAMLicondocument.svg" class="document"></a>
          <h3>Use RAML to Document Your REST API</h3>
          <p>Say goodbye to spending hours writing and maintaining API documentation. With RAML all of your documentation can be easily generated, letting you provide up-to-date documentation, all at the click of a button. </p>
          <a href="#">Learn  about Documenting with RAML</a>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a href=""><img src="images/RAMLiconshare.svg" class="share"></a>
          <h3>Use RAML to Share & Support Your API</h3>
          <p>What good is an API if nobody is using it? RAML helps you provide an even richer experience to your users, including dynamic walk-through examples with the API Notebook, SDKs for the most popular languages, and more. </p>
          <a href="#">Learn  about Sharing with RAML</a>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="bdr">
            <h1>Hundreds of Open Source Projects</h1>
            <p>RAML is backed by a large open source community providing hundreds of pre-built, customizable tools for all your RESTful API needs</p>
            <a href="">Browse Projects</a>
          </div>  
        </div>  
      </div>  
      <div class="row block-quote">
        <h1>There are many advantages to taking an API-first development approach. And with the help of tools like RAML, APIs have become more elastic and easier to use.</h1>
      </div>
    </div>
  </section>
  <script src="/min/vs/loader.js" type="text/javascript"></script>
<script>
    require.config({ paths: { 'vs': '/min/vs' }});
    require(['vs/editor/editor.main'], function() {
        var editor = monaco.editor.create(document.getElementById('container'), {
            value: [
                'function x() {',
                '\tconsole.log("Hello world!");',
                '}'
            ].join('\n'),
            language: 'javascript'
        });
    });
</script>