<div class="box-color">
    <h2>About</h2>
    <ul class="">
        <li><a href="">About RAML</a> </li>
        <li><a href="">Projects</a> </li>
        <li><a href="">Developers</a> </li>
    </ul>   
    <h3><a href="#" class="specif_btn">1.0 Specification</a></h3>
</div>