<section>
    <div class="container developers-sec">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1>RAML for Developers</h1>
                <p>RAML was designed to make your life easier by giving you power over the full API Lifecycle by letting you design, build, test, document, and share your REST API with a single source of truth and a large open source community.</p>
                <h3><a class="btn_black" href="">Read the Specification</a></h3>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive" src="images/developers_hero.svg">
            </div>  
        </div>  
    </div>
</section>