<hr/>
<footer>
    <div class="container-fluid footer-sec">
        <div class="row">
            <div class="col-md-8 col-sm-12 footer-menu">
                <a class="navbar-brand" href="#"><img src="images/ramllogo.png"></a>
                <ul>
                    <li><a href="">Projects</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Enterprises</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li> 
                </ul>
                <div class="social-icons">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <i class="fa fa-stack-exchange" aria-hidden="true"></i>
                    <i class="fa fa-slack" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <ul class="right-align">
                    <li><a href="">Workgroup</a></li>
                    <li><a href="">Licesing</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
                <a href="#" class="top_btn">Back to the Top</a>
            </div>  
        </div>
    </div>
</footer>