<!DOCTYPE html>
<html>
<head>
    {% seo %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-16" >
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=0, maximum-scale=1, user-scalable=yes">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" >
    <link href="{{ site.baseurl }}/css/gdpr-cookie.css" rel=stylesheet>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/gdpr-cookie.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>
</head>
<body>