<section>
    <div class="container text-center tophead-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>The simplest way to design APIs</h1>
                <div class="buttons">
                    <a href="#" class="try_btn">Try It Out</a>
                    <a href="#" class="specif_btn">1.0 Specification</a>
                </div>  
                <p>RAML 1.0 Specification</p>
            </div>  
        </div>  
    </div>  
</section>
<hr>